<p id="notice"><%= notice %></p>

<h1>Premium Jobs</h1>

<%= render @jobs%>
<%= will_paginate @jobs %>
<br><br><br>
<%= link_to 'New Job', new_job_path %><br><br>
<%= link_to 'All Jobs', jobs_path %><br><br>
<%= link_to 'Hello World', hello_world_path %><br><br>